<div class="table-responsive mt-4">
  <table class="table table-bordered text-center align-middle">
    <thead class="table-light">
      <tr>
        <th>Time</th>
        <th *ngFor="let d of days">{{ d }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours">
        <th class="bg-light">{{ hour }}</th>
        <td *ngFor="let d of days; let i = index">
          <ng-container *ngFor="let e of getEventsAt(i, hour)">
            <button class="btn btn-sm btn-primary w-100" (click)="openModal(e)">
              {{ e.subject_info.name }}
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade show d-block"
  *ngIf="selectedEvent"
  tabindex="-1"
  (click)="closeModal()"
>
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ selectedEvent.subject_info.name }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Teacher:</strong> {{ selectedEvent.teacher_info.name }}</p>
        <p><strong>Group:</strong> {{ selectedEvent.group_info.name }}</p>
        <p>
          <strong>Time:</strong> {{ selectedEvent.start_time }} –
          {{ selectedEvent.end_time }}
        </p>
        <p>
          <strong>Weekday:</strong> {{ days[fixDay(selectedEvent.week_day)] }}
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
