<div class="bg-light border-end vh-100 p-3" style="width: 250px">
  <h5 class="fw-bold mb-4">Панель управления</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link" routerLink="/dashboard">Обзор</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" routerLink="/teachers">Преподаватели</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" routerLink="/students">Студенты</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" routerLink="/schedules">Расписание</a>
    </li>
  </ul>
</div>
